<h3><u>User SignUp</u></h3>

<div class="signUp">
    <form [formGroup]="userSignUpForm" class="example-form" (ngSubmit)="registerUser()" novalidate>
        <div class="firstname">
            <mat-form-field class="example-full-width">
                <input matInput type="text" formControlName="firstName" placeholder="Firstname" required>
                <mat-error *ngIf="userSignUpForm.controls.firstName.errors && (userSignUpForm.controls.firstName.dirty
                    || userSignUpForm.controls.firstName.touched)">
                    <span *ngIf="userSignUpForm.controls.firstName.errors.required">Firstname is required</span>
                    <span *ngIf="userSignUpForm.controls.firstName.errors.pattern">Enter valid name</span>
                </mat-error>
            </mat-form-field>
        </div><br>

        <div class="initial">
            <mat-form-field class="example-full-width">
                <input matInput type="text" formControlName="initial" placeholder="Enter Initials" required>
                <mat-error *ngIf="userSignUpForm.controls.initial.errors && (userSignUpForm.controls.initial.dirty
                || userSignUpForm.controls.initial.touched)">
                    <span *ngIf="userSignUpForm.controls.initial.errors.required">Initials are required</span>
                    <span *ngIf="userSignUpForm.controls.initial.errors.pattern">Enter valid Initials</span>
                </mat-error>
            </mat-form-field>
        </div><br>

        <div class="lastname">
            <mat-form-field class="example-full-width">
                <input matInput type="text" formControlName="lastName" placeholder="lastName" required>
                <mat-error *ngIf="userSignUpForm.controls.lastName.errors && (userSignUpForm.controls.lastName.dirty 
                    || userSignUpForm.controls.lastName.touched)">
                    <span *ngIf="userSignUpForm.controls.lastName.errors.required">Lastname is required </span>
                    <span *ngIf="userSignUpForm.controls.lastName.errors.pattern">Enter valid name</span>
                </mat-error>
            </mat-form-field>
        </div><br>

        <div class="companyName">
            <mat-form-field class="example-full-width">
                <input matInput type="text" formControlName="companyName" placeholder="companyName" required>
                <mat-error *ngIf="userSignUpForm.controls.companyName.errors && (userSignUpForm.controls.companyName.dirty 
                    || userSignUpForm.controls.companyName.touched)">
                    <span *ngIf="userSignUpForm.controls.companyName.errors.required">Company Name is required </span>
                    <span *ngIf="userSignUpForm.controls.companyName.errors.pattern">Enter valid name</span>
                </mat-error>
            </mat-form-field>
        </div><br>

        <div class="phoneNumber">
            <mat-form-field class="example-full-width">
                <input matInput type="text" (keypress)="keyPress($event)" formControlName="phoneNumber"
                  placeholder="phoneNumber" required>
                <mat-error *ngIf="userSignUpForm.controls.phoneNumber.errors && (userSignUpForm.controls.phoneNumber.dirty 
                    || userSignUpForm.controls.phoneNumber.touched)">
                    <span *ngIf="userSignUpForm.get('phoneNumber').hasError('required')">Contact Number is required </span>
                    <span *ngIf="userSignUpForm.get('phoneNumber').hasError('pattern')">Contact Number must of 15 digits</span>
                </mat-error>
            </mat-form-field>
        </div><br>

        <div class="emailAddress">
            <mat-form-field class="example-full-width">
                <input matInput type="email" formControlName="emailAddress" placeholder="emailAddress" required>
                <mat-error *ngIf="userSignUpForm.controls.emailAddress.errors && (userSignUpForm.controls.emailAddress.dirty 
                    || userSignUpForm.controls.emailAddress.touched)">
                    <span *ngIf="userSignUpForm.controls.emailAddress.errors.required">Email Id is required </span>
                    <span *ngIf="userSignUpForm.controls.emailAddress.errors.pattern">Enter valid Email Id</span>
                </mat-error>
            </mat-form-field>
        </div><br>

        <div class="password">
            <mat-form-field class="example-full-width">
                <input matInput type="password" formControlName="password" placeholder="Password" required>
                <mat-error *ngIf="userSignUpForm.controls.password.errors && (userSignUpForm.controls.password.dirty 
                    || userSignUpForm.controls.password.touched)">
                    <span *ngIf="userSignUpForm.controls.password.errors.required">Password is required</span>
                    <span *ngIf="userSignUpForm.controls.password.errors.pattern">Password must be at least 8 characters long.Password must have 1 capital, 1 small, 1 number, and 1 special character.
                    </span>
                </mat-error>
            </mat-form-field>
        </div><br>

        <div class="confirmPassword">
            <mat-form-field class="example-full-width">
                <input matInput type="password" formControlName="confirmPassword" placeholder="ConfirmPassword"
                    required>
                <mat-error
                    *ngIf="userSignUpForm.get('confirmPassword').errors && userSignUpForm.get('confirmPassword').errors.ConfirmPassword">
                    Passwords did not match</mat-error>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" class="btnSubmit"
                [disabled]="userSignUpForm.invalid">Submit</button>
        </div>
        <div class="refresh">
            <button mat-raised-button id="refresh" color="primary" (click)="Captcha();">
                <i class="material-icons refAdjust">refresh</i>Refresh</button>
        </div>
        <div class="captcha">
            <input type="text" id="mainCaptcha"  #mainCaptcha />
        </div>
        <div class="enterCaptcha">
            <input matInput type="text" formControlName="captcha" id="txtInput" placeholder="Enter the Captcha here"
                #txtInput required />
        </div>
    </form>
</div>

<router-outlet></router-outlet>