<h3><u>Edit Profile</u></h3>

<!-- <i class="fa fa-pencil" aria-hidden="true"></i>
<input type="file" #avatarInput (change)="onFileChange()" accept="image/*"> -->

<form [formGroup]="editProfileForm" (ngSubmit)="editProfile();" novalidate>
    <div class="firstName">
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Enter Firstname" [(ngModel)]="firstname" formControlName="firstName">
            <mat-error *ngIf="editProfileForm.controls.firstName.errors && (editProfileForm.controls.firstName.dirty
                                    || editProfileForm.controls.firstName.touched)">
                <span *ngIf="editProfileForm.controls.firstName.errors.required">Firstname is required</span>
                <span *ngIf="editProfileForm.controls.firstName.errors.pattern">Enter valid name</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="lastName">
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Enter Lastname" [(ngModel)]="lastname" formControlName="lastName">
            <mat-error *ngIf="editProfileForm.controls.lastName.errors && (editProfileForm.controls.lastName.dirty
                                        || editProfileForm.controls.lastName.touched)">
                <span *ngIf="editProfileForm.controls.lastName.errors.required">Lastname is required</span>
                <span *ngIf="editProfileForm.controls.lastName.errors.pattern">Enter valid name</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="emailAddress">
        <mat-form-field class="example-full-width">
            <input matInput type="email" placeholder="Enter EmailId" [(ngModel)]="emailId" formControlName="emailAddress">
            <mat-error *ngIf="editProfileForm.controls.emailAddress.errors && (editProfileForm.controls.emailAddress.dirty
                                            || editProfileForm.controls.emailAddress.touched)">
                <span *ngIf="editProfileForm.controls.emailAddress.errors.required">EmailId is required</span>
                <span *ngIf="editProfileForm.controls.emailAddress.errors.pattern">Enter valid EmailId</span>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="companyName">
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Enter Company Name" [(ngModel)]="clientName" formControlName="companyName">
            <mat-error *ngIf="editProfileForm.controls.companyName.errors && (editProfileForm.controls.companyName.dirty
                                                || editProfileForm.controls.companyName.touched)">
                <span *ngIf="editProfileForm.controls.companyName.errors.required">Company Name is required</span>
                <span *ngIf="editProfileForm.controls.companyName.errors.pattern">Enter valid name</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="phoneNumber">
        <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Enter Phonenumber" [(ngModel)]="phoneNumber" formControlName="phoneNumber">
            <mat-error *ngIf="editProfileForm.controls.phoneNumber.errors && (editProfileForm.controls.phoneNumber.dirty
                                                    || editProfileForm.controls.phoneNumber.touched)">
                <span *ngIf="editProfileForm.controls.phoneNumber.errors.required">Phonenumber is required</span>
                <span *ngIf="editProfileForm.controls.phoneNumber.errors.pattern">Enter valid Phonenumber</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary" class="btnSubmit" type="submit">Update</button>
        <div *ngIf="userRoleId === '2'">
            <button mat-raised-button color="primary" class="btnCancel" (click)="navigateToUserMgmt();">Cancel</button>
        </div>
        <div *ngIf="userRoleId === '3'">
            <button mat-raised-button color="primary" class="btnCancel" (click)="navigateToLogin();">Cancel</button>
        </div>
    </div>
</form>

<a (click)="changePasswordDialog(changePasswordModel)">Change Password</a>


<ng-template #changePasswordModel>
    <div class="changePasswword">
            <h3 class="changePasswordHead"><u>Change Password</u></h3>
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword();" novalidate>
                    <div>
                        <mat-form-field class="example-full-width">
                            <input matInput type="password" placeholder="Enter Current Password" formControlName="oldPassword"
                                required>
                            <mat-error *ngIf="changePasswordForm.controls.oldPassword.errors && (changePasswordForm.controls.oldPassword.dirty
                                                            || changePasswordForm.controls.oldPassword.touched)">
                                <span *ngIf="changePasswordForm.controls.oldPassword.errors.required">CurrentPassword is
                                    required</span>
                               
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <input matInput type="password" placeholder="Enter New Password" formControlName="password" required>
                            <mat-error *ngIf="changePasswordForm.controls.password.errors && (changePasswordForm.controls.password.dirty
                                                            || changePasswordForm.controls.password.touched)">
                                <span *ngIf="changePasswordForm.controls.password.errors.required">NewPassword is required</span>
                                <span *ngIf="changePasswordForm.controls.password.errors.pattern">Password is not valid</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <input matInput [type]="showText ? 'text' : 'password'" placeholder="Re-enter New Password" formControlName="confirmPassword"
                                required>
                            <mat-error
                                *ngIf="changePasswordForm.get('confirmPassword').errors && changePasswordForm.get('confirmPassword').errors.ConfirmPassword">
                                Password doesn't match</mat-error>
                        </mat-form-field>
                        <i class="material-icons adjustEye"  matTooltip="Click to View Password" (click)="showPasswordToggle();">
                            remove_red_eye</i>
                    </div>
            
                    <div class="actionBtns">
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="changePasswordForm.invalid">Submit</button>
                        <button mat-raised-button color="primary" class="passwordExit" matDialogClose>Cancel</button>
                    </div>
                </form>
    </div>
</ng-template>