h3 {
    text-align: center;
}

.firstname {
    margin-left: 585px;
}

.initial {
    margin-left: 585px;
}

.lastname {
    margin-left: 585px;
}

.emailId {
    margin-left: 585px;
}

.password {
    margin-left: 585px;
}

.confirmPassword {
    margin-left: 585px;
}

button.btnSubmit.mat-raised-button.mat-primary {
    margin-left: 550px;
    margin-top: 30px;
}

button.btnCancel.mat-raised-button.mat-primary {
    margin-left: 110px;
}