<h3><u>Welcome. Please update your details</u></h3>


<form [formGroup]="invitedUserForm" (ngSubmit)="editProfile();" novalidate>
    <div class="firstname">
        <mat-form-field class="example-full-width">
                <input matInput type="text"  formControlName="firstName" [(ngModel)]="firstname" placeholder="Firstname" required>
                <mat-error *ngIf="invitedUserForm.controls.firstName.errors && (invitedUserForm.controls.firstName.dirty
            || invitedUserForm.controls.firstName.touched)">
                    <span *ngIf="invitedUserForm.controls.firstName.errors.required">Firstname is required</span>
                    <span *ngIf="invitedUserForm.controls.firstName.errors.pattern">Enter valid name</span>
                </mat-error>
            </mat-form-field>
</div><br>

<div class="initial">
    <mat-form-field class="example-full-width">
            <input matInput type="text"  formControlName="initial" [(ngModel)]="initials" placeholder="Enter Initials" required>
            <mat-error *ngIf="invitedUserForm.controls.initial.errors && (invitedUserForm.controls.initial.dirty
        || invitedUserForm.controls.initial.touched)">
                <span *ngIf="invitedUserForm.controls.initial.errors.required">Initials are required</span>
                <span *ngIf="invitedUserForm.controls.initial.errors.pattern">Enter valid Initials</span>
            </mat-error>
        </mat-form-field>
</div><br>

<div class="lastname">
        <mat-form-field class="example-full-width">
                <input matInput type="text" formControlName="lastName" [(ngModel)]="lastname" placeholder="lastName" required>
                <mat-error *ngIf="invitedUserForm.controls.lastName.errors && (invitedUserForm.controls.lastName.dirty 
            || invitedUserForm.controls.lastName.touched)">
                    <span *ngIf="invitedUserForm.controls.lastName.errors.required">Lastname is required </span>
                    <span *ngIf="invitedUserForm.controls.lastName.errors.pattern">Enter valid name</span>
                </mat-error>
            </mat-form-field>
</div><br>

<div class="emailId">
    <mat-form-field class="example-full-width">
            <input matInput type="email" formControlName="emailId" [(ngModel)]="emailId" placeholder="Email Id" required>
            <mat-error *ngIf="invitedUserForm.controls.emailId.errors && (invitedUserForm.controls.emailId.dirty 
        || invitedUserForm.controls.emailId.touched)">
                <span *ngIf="invitedUserForm.controls.emailId.errors.required">Email Id is required </span>
                <span *ngIf="invitedUserForm.controls.emailId.errors.pattern">Enter valid Email Id</span>
            </mat-error>
        </mat-form-field>
</div><br>

<div class="password">
    <mat-form-field class="example-full-width">
            <input matInput type="password" formControlName="password" placeholder="Password" required>
            <mat-error *ngIf="invitedUserForm.controls.password.errors && (invitedUserForm.controls.password.dirty 
        || invitedUserForm.controls.password.touched)">
                <span *ngIf="invitedUserForm.controls.password.errors.required">Password is required</span>
                <span *ngIf="invitedUserForm.controls.password.errors.pattern">Enter valid password</span>
            </mat-error>
        </mat-form-field>
</div><br>

<div class="confirmPassword">
    <mat-form-field class="example-full-width">
            <input matInput type="password" formControlName="confirmPassword" placeholder="Re-enter Password" required>
            <mat-error
                *ngIf="invitedUserForm.get('confirmPassword').errors && invitedUserForm.get('confirmPassword').errors.ConfirmPassword">
                Password doesn't match</mat-error>
        </mat-form-field> 
</div>

<div>
    <button mat-raised-button color="primary" type="submit" class="btnSubmit" [disabled]="invitedUserForm.invalid">Confirm</button>
    <button mat-raised-button color="primary"  (click)="navigateToLogin();" class="btnCancel">Cancel</button>
</div>
</form>