<h3><u>User List</u></h3>

<div class="addUser">
    <button mat-raised-button color="primary" [routerLink]="['add']">Add User</button>
</div>
<mat-form-field class="Search">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<div class="mat-elevation-z8 userMgmtGrid">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>Firstname</th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Lastname</th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="emailAddress">
            <th class="emailHead" mat-header-cell *matHeaderCellDef>EmailId</th>
            <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th class="statusHead" mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary"
                    (click)="currentElement = element; statusDialog(changeStatus);">
                    {{ element.statusText }}</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="accent"
                    (click)="userId = element.userId; deleteDialog(deleteConfirmationDialog);">Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #deleteConfirmationDialog>
    <p>Are you sure you want to delete the user ?</p>
    <div class="actionBtns">
        <button type="button" mat-raised-button color="primary" (click)="DeleteUser();">Delete</button>
        <button type="button" class="deleteExit" mat-raised-button matDialogClose color="primary">Cancel</button>
    </div>
</ng-template>

<button mat-raised-button color="primary" class="logOut" (click)="clearLocalStorage();">Logout</button>
<button mat-raised-button color="primary" [routerLink]="['edit-profile']">Edit profile</button>


<ng-template #changeStatus>
    <div *ngIf="currentElement.statusText === 'Active'">
        <p>Are you sure you want to Inactivate the user ?</p>
    </div>
    <div *ngIf="currentElement.statusText === 'Inactive'">
        <p>Are you sure you want to Activate the user ?</p>
    </div>
    <div class="actionBtns">
        <button type="button" mat-raised-button color="primary" (click)="ChangeStatus(currentElement);">Yes</button>
        <button type="button" class="deleteExit" mat-raised-button matDialogClose color="primary">Cancel</button>
    </div>
</ng-template>