<h3><u>Add User</u></h3>

<form [formGroup]="adduserForm" (ngSubmit)="createUser();" novalidate>

    <div class="firstname">
        <mat-form-field class="example-full-width">
            <input matInput type="text" formControlName="firstName" placeholder="Enter firstname" required>
            <mat-error *ngIf="adduserForm.controls.firstName.errors && (adduserForm.controls.firstName.dirty
                    || adduserForm.controls.firstName.touched)">
                <span *ngIf="adduserForm.controls.firstName.errors.required">Firstname is required</span>
                <span *ngIf="adduserForm.controls.firstName.errors.pattern">Enter valid name</span>
            </mat-error>
        </mat-form-field>
    </div><br>

    <div class="initial">
        <mat-form-field class="example-full-width">
            <input matInput type="text" formControlName="initial" placeholder="Enter Initials" required>
            <mat-error *ngIf="adduserForm.controls.initial.errors && (adduserForm.controls.initial.dirty
                    || adduserForm.controls.initial.touched)">
                <span *ngIf="adduserForm.controls.initial.errors.required">Initials are required</span>
                <span *ngIf="adduserForm.controls.initial.errors.pattern">Enter valid Initials</span>
            </mat-error>
        </mat-form-field>
    </div><br>

    <div class="lastname">
        <mat-form-field class="example-full-width">
            <input matInput type="text" formControlName="lastName" placeholder="Enter lastname" required>
            <mat-error *ngIf="adduserForm.controls.lastName.errors && (adduserForm.controls.lastName.dirty 
                    || adduserForm.controls.lastName.touched)">
                <span *ngIf="adduserForm.controls.lastName.errors.required">Lastname is required </span>
                <span *ngIf="adduserForm.controls.lastName.errors.pattern">Enter valid name</span>
            </mat-error>
        </mat-form-field>
    </div><br>

    <div class="emailAddress">
        <mat-form-field class="example-full-width">
            <input matInput type="email" formControlName="emailAddress" placeholder="Enter EmailId" required>
            <mat-error *ngIf="adduserForm.controls.emailAddress.errors && (adduserForm.controls.emailAddress.dirty 
                    || adduserForm.controls.emailAddress.touched)">
                <span *ngIf="adduserForm.controls.emailAddress.errors.required">Email Id is required </span>
                <span *ngIf="adduserForm.controls.emailAddress.errors.pattern">Enter valid Email Id</span>
            </mat-error>
        </mat-form-field>
    </div><br>

    <div>
        <button mat-raised-button color="primary" class="btnSubmit" [disabled]="adduserForm.invalid">Create</button>
    </div>

    <div>
        <button mat-raised-button color="primary" (click)="navigateToUserMgmt();" class="navoigateToUsers">Cancel</button>
    </div>
</form>