<h3><u>Forgot-Password Form</u></h3>

<div class="forgotpasswordForm">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit(forgotPasswordForm)" novalidate>
        <mat-form-field>
            <input matInput type="email" formControlName="email" placeholder="Enter Email Address" required>
            <mat-error *ngIf="forgotPasswordForm.controls.email.errors && (forgotPasswordForm.controls.email.dirty
                || forgotPasswordForm.controls.email.touched)">
                <span *ngIf="forgotPasswordForm.controls.email.errors.required">Please enter your registered Email Address</span>
                <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">Enter valid Email Id</span>
            </mat-error>
        </mat-form-field><br>
        <div class="btnSubmit">
            <button mat-raised-button color="primary" [disabled]="forgotPasswordForm.invalid">Submit</button>
        </div>
        <button mat-raised-button color="primary"  (click)="navigateToLogin();" class="btnCancel">Cancel</button>
    </form>
</div>