h3.changePasswordHead {
    text-align: center;
}

form.resetPassword.ng-untouched.ng-pristine.ng-invalid {
    margin-left: 595px;
}

.actionBtns {
    margin-top: 20px;
    margin-left: 40px;
}

button.passwordExit.mat-raised-button.mat-primary {
    margin-left: 30px;
}