<h3 class="changePasswordHead"><u>Reset Password</u></h3>
<form [formGroup]="resetPasswordForm" class="resetPassword" (ngSubmit)="changePassword();" novalidate>
        <div>
            <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Enter New Password" formControlName="password" required>
                <mat-error *ngIf="resetPasswordForm.controls.password.errors && (resetPasswordForm.controls.password.dirty
                                                || resetPasswordForm.controls.password.touched)">
                    <span *ngIf="resetPasswordForm.controls.password.errors.required">NewPassword is required</span>
                    <span *ngIf="resetPasswordForm.controls.password.errors.pattern">Password is not valid</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <input matInput [type]="showText ? 'text' : 'password'" placeholder="Re-enter New Password" formControlName="confirmPassword"
                    required>
                <mat-error
                    *ngIf="resetPasswordForm.get('confirmPassword').errors && resetPasswordForm.get('confirmPassword').errors.ConfirmPassword">
                    Password doesn't match</mat-error>
            </mat-form-field>
            <i class="material-icons adjustEye"  matTooltip="Click to View Password" (click)="showPasswordToggle();">
                remove_red_eye</i>
        </div>

        <div class="actionBtns">
            <button mat-raised-button color="primary" type="submit"
                [disabled]="resetPasswordForm.invalid">Submit</button>
        </div>
    </form>
